@import '../../../assets/standard-styles/colors.scss';

.ownStyle-button {

  width: 34px;
  height: 34px;
  background-color: #c9f7f5;
  font-weight: 600;
  font-size: 14px;
  color: $standartWhiteColor;
  margin-right: 10px;

}
