@import './../../../assets/standard-styles/colors.scss';
@import './../../../assets/standard-styles/standard-controls.scss';
@import './../../../assets/standard-styles/menu.scss';


.icon {
  cursor: pointer;
  margin-left: 38px;
  margin-top: 30px;
  width: 32px;
  height: 32px;
}

.filler {
  flex: 1 1 auto;
}

.header-container {
  display: flex;
  flex-flow: row;

}

.ownStyle-button {
  margin-top: 12px;
  width: 213px;
  height: 40px;
  background-color: $standartGreenColor;

  font-size: 13px;
  color: $standartWhiteColor;

}

.ownStyle-split {
  margin-top: 12px;
  height: 40px;
  width: 30px;
  background-color:$splitButtonGreenColor;

  font-size: 13px;
  color: $standartWhiteColor;
  margin-right: 20px;
}

.icon-logOut {
  cursor: pointer;
  fill: #CCD1D1;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signalr {
  margin-left: 80px;
  width: 600px;
  height: auto;


}

