<div class="background">


  <div class="container  first border-right border-bottom" *ngIf="!isClicked">

    <form (ngSubmit)="onSave()" #loginForm="ngForm">

      <p class="h4 big-gap-top center" >Anmeldung</p>

      <div class="form-group first big-gap-top">
        <label class="mylabel" for="loginForm-name">E-Mail</label>
        <input type="email" [(ngModel)]="username" name="username" class="form-control" id="loginForm-name">

      </div>


      <div class="form-group first">

        <div class="input-group">

          <label class="mylabel" for="LoginFormPassword">Passwort</label>
          <input style="width: 360px;" [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password" name="password" id="LoginFormPassword" class="form-control input-password" >
          <div class="input-group-append">
            <span class="input-group-text" style="width:40px;"  (click)="showPassword =!showPassword">
              <i class="fa" [ngClass]="{
                'fa-eye-slash': !showPassword,
                'fa-eye': showPassword
              }" style ="font-size: 16px; color:#464e5f;"></i>
            </span>
          </div>
        </div>

      </div>


      <div class="form-group first">
        <label class="mylabel" for="loginForm-token">Token</label>
        <input type="text" [(ngModel)]="token" name="token" class="form-control" id="loginForm-token">

      </div>

      <div class="d-flex  justify-content-around">


        <!-- <div class="right">

          <a href="">Passwort vergessen?</a>
        </div> -->
      </div>


      <div class="center ">
        <button type="submit" color="info" block="true" class="btn btn-primary center"
          [disabled]="!loginForm.form.valid">Anmelden</button>

      </div>

      <!-- Register
      <p class="big-gap-top  ">Sie sind kein Mitglied?
        <a href=""> Registrieren</a>
      </p> -->

      <p>
      </p>
      <p>
      </p>

    </form>

  </div>
</div>
