@import '../../../assets/standard-styles/colors.scss';



$login-background: "../../../assets/png/login-background.png" !default;


.background {
  display: flex;
  background-image: url( #{$login-background});
  background-size: cover ;
  height: 100vh;
}

.container {
  background-color: white;
  align-self:center;
  display: flex;
  justify-content: flex-start space-around;
  flex-direction: column;
  border-radius: 5px;
  width: 550px;
  max-width: 550px;
  min-width: 550px;
  box-sizing: border-box;

}

.big-gap-top {
  margin-top: 40px;
}

input {
  height: 40px;

}

label {
  width: 341px;

}

.first {
  padding-left: 50px;
  padding-right: 50px;

}

.center {
  margin-top: 15px;
  text-align: center;
}

.right {

  width: 400px;
  text-align: right;
}

.filler {
  flex: 1 1 auto;
}

.input-password {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
