# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
klacks-web-api/klacks-web-api/obj/Debug/netcoreapp3.1/klacks-web-api.assets.cache
klacks-web-api/klacks-web-api/obj/Debug/netcoreapp3.1/klacks-web-api.csproj.AssemblyReference.cache
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/AutoMapper.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ClosedXML.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ClosedXML.Extensions.AspNet.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ClosedXML.Extensions.WebApi.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/DocumentFormat.OpenXml.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/EFCore.NamingConventions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ExcelNumberFormat.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/FluentValidation.AspNetCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/FluentValidation.DependencyInjectionExtensions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/FluentValidation.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Humanizer.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.AspNetCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.Binary.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.Binary.Linux.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.Client.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.Local.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.Shared.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/jsreport.Types.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/klacks-web-api.deps.json
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/klacks-web-api.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/klacks-web-api.exe
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/klacks-web-api.pdb
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/klacks-web-api.runtimeconfig.dev.json
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/klacks-web-api.runtimeconfig.json
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AI.DependencyCollector.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.ApplicationInsights.AspNetCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.ApplicationInsights.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.ApplicationInsights.HostingStartup.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Facebook.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Google.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.MicrosoftAccount.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Twitter.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.AzureAppServices.HostingStartup.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.AzureAppServicesIntegration.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.DataProtection.AzureStorage.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.MiddlewareAnalysis.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.NodeServices.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Owin.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Https.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SpaServices.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Azure.KeyVault.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Azure.KeyVault.WebKey.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Data.Edm.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Data.OData.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Redis.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.SqlServer.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.AzureKeyVault.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DiagnosticAdapter.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.AzureAppServices.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.PlatformAbstractions.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Rest.ClientRuntime.Azure.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Rest.ClientRuntime.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.BrowserLink.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.WindowsAzure.Storage.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Npgsql.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.Design.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/NSwag.Annotations.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/OtpSharp.Core.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_green.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.e_sqlite3.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/StackExchange.Redis.StrongName.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Newtonsoft.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.IO.Packaging.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Spatial.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Wiry.Base32.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libuv.so
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libuv.so
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libuv.so
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libuv.so
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/osx/native/libuv.dylib
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netstandard2.0/System.Data.SqlClient.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Data.SqlClient.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/libuv.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/libuv.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/libuv.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win7-x64/native/e_sqlite3.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win7-x86/native/e_sqlite3.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.Data.Edm.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.Data.OData.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/System.Spatial.resources.dll
klacks-web-api/klacks-web-api/obj/Debug/netcoreapp3.1/apphost.exe
klacks-web-api/klacks-web-api/obj/Debug/netcoreapp3.1/klacks-web-api.dll
klacks-web-api/klacks-web-api/obj/Debug/netcoreapp3.1/klacks-web-api.pdb
klacks-web-api/.vs/klacks-web-api/v16/.suo
klacks-web-api/.vs/klacks-web-api/v16/.suo
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
klacks-web-api/klacks-web-api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
