<div class="loading-indicator" *ngIf="dataManagementEmployeeService.showProgressSpinner">
  <app-spinner></app-spinner>
</div>

<!-- Delete Window -->
<ng-template #contentDelete id="content" let-modal role="dialog">
  <app-deletewindow [message]="message"></app-deletewindow>
  <div class="modal-footer ">
    <span type="button" class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss('Cancel click')">Abbrechen</span>
    <button type="button" class="btn btn-danger normal-btn" (click)="modal.close()">Löschen</button>
  </div>
</ng-template>


<form id="allAddressForm">
  <div class="container-header header-container">
    {{header}}

    <span class="filler"></span>

   
  </div>



  <div class="container-subline">
    {{dataManagementEmployeeService.subTitleLastChangesAllAddress}}
  </div>


  <div class="container-line"></div>

  <div class="container-search form-group">
    <label for="basic-search">Suchen</label>
    <div class="input-group mb-3">

      <input type="search" class="form-control" [(ngModel)]="dataManagementEmployeeService.currentFilter.searchString"
        placeholder="Name oder ID Nummer eingeben" name="searchString" id="search" (keyup)="onKeyupSearch($event)"
        (keydown.enter)="onClickSearch()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary container-search-button" type="button"
          (click)="onClickSearch()">Suche</button>
      </div>
    </div>
    <div style="margin-top: -15px; margin-left: 10px; color: #b6b6c3;">
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="dataManagementEmployeeService.currentFilter.includeAddress"
          name="includeAddress">
        inklusive Adresseanangabe
      </label>
    </div>

  </div>

  <div class="container-table">
    <table class="table table-borderless" (blur)="onLostFocus()" #myTable id="myTable">
      <thead>
        <tr>
          <th class="table-header" style="width: 40px; max-width: 40px;">
            <input type="checkbox" [(ngModel)]="dataManagementEmployeeService.headerCheckBoxValue"
              (change)="onChangeHeaderCheckBox()" [indeterminate]="checkBoxIndeterminate" name="headerCheckBoxValue"
              class="checkbox">
          </th>

         
          <th class="table-header" (click)="onClickHeader('firstName')" style="width: 160px; ">
            <div class="table-header-cell custom-control-inline">
              <p class="gap noselect">VORNAME</p>
              <p class="table-header-cell-arrow noselect">{{arrowFirstName}}</p>
            </div>

          </th>
          <th class="table-header" (click)="onClickHeader('name')" style="width: 160px; ">
            <div class="table-header-cell custom-control-inline">
              <p class="gap noselect">NACHNAME</p>
              <p class="table-header-cell-arrow noselect">{{arrowName}}</p>
            </div>

          </th>

          <th class="table-header" (click)="onClickHeader('status')" >
            <div class="table-header-cell custom-control-inline">
              <p class="gap noselect">STATUS</p>
              <p class="table-header-cell-arrow noselect">{{arrowStatus}}</p>
            </div>

          </th>

          <th class="table-header action" style="width: 90px; max-width: 90px; min-width: 90px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row"  class="table-row"  *ngFor="let data of dataManagementEmployeeService.listWrapper?.employees; index as i"
          (click)="onClickedRow(data)" [class.active]="data.id == highlightRowId">
          <td class="table-cell">
            <input type="checkbox" [checked]="checkBoxValue(i)" (change)="onChangeCheckBox(i,$event)" name="checkbox"
              class="checkbox ">
          </td>
          <td [ngClass]="{
            'table-cell':data.isDeleted===false , 'table-cell-delete':data.isDeleted ===true }">{{data.firstName}}</td>
          <td [ngClass]="{
            'table-cell':data.isDeleted===false , 'table-cell-delete':data.isDeleted ===true }">{{data.name}}</td>
          <td [ngClass]="{
            'table-cell':data.isDeleted===false , 'table-cell-delete':data.isDeleted ===true }">
           </td>
          <td class="table-cell cell-right">
            <div>
              <div class="icon icon-padding" (click)="onClickEdit(data)">
                <icon-pencil-icon-grey></icon-pencil-icon-grey>
              </div>

              <div class="icon"   *ngIf="!data.isDeleted">
                <icon-trash-icon-red></icon-trash-icon-red>

              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>


  </div>

  <div class="pagination justify-content-end">
    <label class="entry-info">Anzahl Einträge: {{dataManagementEmployeeService.maxItems}}</label>
    <ngb-pagination [collectionSize]="dataManagementEmployeeService.maxItems + 1"
      (pageChange)="onPageChange($event)" [(page)]="page" [maxSize]="5" [pageSize]="numberOfItemsPerPage" [rotate]="true"
      [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

  </div>


</form>
