<ng-container *ngIf="isSetting">

  <div class="container-dashboard">

    <div class="container-headline">
      Einstellungen
    </div>

    <div class="container-profilline">
      <app-setting-general class="container-profil container-setting-general first border-right-card border-bottom-card"
        (isChangingEvent)="onIsChanging($event)">
      </app-setting-general>

    </div>

    <div class="container-profilline">
      <app-setting-owner-address class="container-profil container-owner-address first border-right-card border-bottom-card"
        (isChangingEvent)="onIsChanging($event)" >
      </app-setting-owner-address>

    </div>

    <div class="container-profilline">
      <app-user-administration
        class="container-profil container-setting-user-administration first border-right-card border-bottom-card"
        (isChangingEvent)="onIsChanging($event)" >
      </app-user-administration>

    </div>

    

    <div class="container-profilline">
    
      <app-countries class="container-setting-small  border-right-card border-bottom-card"
        (isChangingEvent)="onIsChanging($event)" >
      </app-countries>
    </div>


    <div style="height: 30px;"></div>

  </div>
</ng-container>
