@import '../../../../assets/standard-styles/standard-home-page.scss';



.container-owner-address{
  height: 540px
}
.container-setting-contribution {
  height: 520px;
}



.container-setting-user-administration {
  height: 548px;
}

.container-setting-app-dcument-layout {
  height: 390px;

}

