<ng-template #editJournal let-modal role="dialog">
    <form>
  
      <div class="modal-header">
        <div class="container-header-modal modal-title" id="modal-title">Korrekturen</div>
  
      </div>
      <div class="modal-body first-modal">
        <div class="row-line">
          <div class="form-group ">
            <label for="newCorrectionFrom">DATUM</label>
  
            <div class="input-group">
              <input class="form-control" name="newCorrectionFrom" [ngModel]="newCorrectionFrom" id="newCorrectionFrom"
                style="width: 190px;" (ngModelChange)="newCorrectionFrom = $event" ngbDatepicker
                #correctionFrom="ngbDatepicker">
              <div class="input-group-append">
                <span class="input-group-text" style="width:40px;" (click)="correctionFrom.toggle()">
                  <i class="fa fa-calendar" style="font-size: 16px; color:#464e5f;"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

  
        <div class="row-line-modal">
          <div class="form-group ">
            <label for="newCorrectionValue">CREDIT</label>
            <input type="number" style="text-align: right;width: 230px;" class="form-control" name="newCorrectionValue"
              id="newCorrectionValue" [(ngModel)]="newCorrectionValue">
          </div>
        </div>
  
        <div class="row-line-modal">
          <div class="form-group ">
            <label for="newCorrectionRemark">TEXT</label>
            <input type="text" style="width: 230px;" class="form-control" name="newCorrectionRemark" id="newCorrectionRemark"
              [(ngModel)]="newCorrectionRemark">
  
  
          </div>
        </div>
  
      </div>
    </form>
  
  
    <div class="modal-footer ">
      <span type="button" class="link-button red-font" (click)="modal.dismiss('Cancel click')">Abbrechen</span>
      <button type="button" class="btn ownStyle-add" [disabled]="onIsDisabled()" (click)="modal.close()">Korrektur
        speichern</button>
    </div>
  
  </ng-template>
  
  
  
  <form>
    <div class="container-header header-container">
      {{journalHeader}}
  
      <span class="filler"></span>

      
     
        <app-button-pdf [buttonDisabled]="true" (click)="onClickTestatHeft()" ></app-button-pdf>
      
      <div class="btn    ownStyle-button" role="button" (click)="onOpen(editJournal)" *ngIf="originalIsAuthorised">
        <icon-pencil-icon-black></icon-pencil-icon-black>
      </div>
  
  
    </div>
  
  
    <div class="container-line"></div>
  
    <div class="modal-body">
      <div class="row-line total">
        <span class="filler"></span>
        <label class="total-label">Aktueller Jahressaldo</label>
  
        <input type="text" class="form-control total-text" id="total" [value]="journalSum" name="total"
          readonly>
  
  
      </div>
  
      <div class="container-table">
        <table class="table table-borderless" detailViewIcon="true" data-toggle="table" data-detail-view="true">
          <thead>
            <tr>
  
              <th class="table-header" style="width: 150px;max-width:150px;">
                <div class="table-header-cell custom-control-inline ">
                  <p class="gap noselect">DATUM</p>
  
                </div>
  
              </th>
              <th class="table-header">
                <div class="table-header-cell custom-control-inline ">
                  <p class="gap noselect">TEXT</p>
  
                </div>
  
              </th>
             
               
  
              <th class="table-header" style="width: 150px;max-width:150px;">
                <div class="table-header-cell custom-control-inline  header-right">
                  <p class="gap noselect ">Credit</p>
  
                </div>
  
              </th>
  
  
            </tr>
          </thead>
          <tbody *ngIf="journalBases !==undefined">
  
            <tr class="table-row"  *ngFor="let data of journalBases; index as i">
  
  
              <td class="table-cell cell-with-comment"
                [ngClass]="{
                     'table-cell-updated': !(data.individuallyChanged === null || data.individuallyChanged === undefined || data.individuallyChanged === false) }">
                {{data.validFrom | date: 'dd.MM.yyyy'}}
                <span class="cell-comment" *ngIf="data.remark"> {{data.remark}}</span>
              </td>
  
              <td class="table-cell cell-with-comment"
                [ngClass]="{
                    'table-cell-updated': !(data.individuallyChanged === null || data.individuallyChanged === undefined || data.individuallyChanged === false) }">
                {{data.name}}
                <span class="cell-comment" *ngIf="data.remark"> {{data.remark}}</span>
              </td>
                
             
              <td class="table-cell cell-with-comment  cell-right"
                [ngClass]="{
                    'table-cell-updated': !(data.individuallyChanged === null || data.individuallyChanged === undefined || data.individuallyChanged === false)  }">
                    {{data.value}}
                <span class="cell-comment" *ngIf="data.remark"> {{data.remark}}</span>
              </td>
  
            </tr>
  
          </tbody>
        </table>
  
  
      </div>
    </div>
    <div class="pagination justify-content-end" *ngIf="journalBases">
      <label class="entry-info">Anzahl Einträge: {{journalCount}}</label>
      <ngb-pagination [collectionSize]="journalCount + 1" (pageChange)="onPageChange()" [(page)]="journalRequiredPage"
        [maxSize]="journalNumberOfItemsPerPage" [pageSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
      </ngb-pagination>
  
    </div>
  
  
  </form>
  
