<div class="container-dashboard">

  <div class="container-header">
    benutzerdefinierte Einstellungen
  </div>


  <div class="container-line"></div>

  <div class="custom-container">
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" [(ngModel)]="isChecked" (change)="onDarkmodeChecked()" name="isChecked" />
        <div class="slider round"></div>
      </label>
      <em>Dark Mode!</em>
    </div>

  </div>


  <div style="height:30px"></div>

</div>
