@import '../../../../assets/standard-styles/standard-grid.scss';
@import '../../../../assets/standard-styles/standard-card-interior.scss';
@import '../../../../assets/standard-styles/standard-modal.scss';
@import '../../../../assets/standard-styles/pagination.scss';
@import '../../../../assets/standard-styles/colors.scss';


.entry-info {
  padding-right: 20px;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  color: var(--colorLabel);
}

.checkbox {
  size: 20px;
}


.red-font{
  font-size: 13px;
  margin-top: 10px;
  padding-right: 30px;
  color: var(--standartRedColor );
}



.save-btn {

  font-size: 13px;
  background-color: $standartBlueColor;
  color: $standartWhiteColor;
  margin-right: 20px;
}

