<ng-template #addressTypeModal let-modal role="dialog" class="modal-window">
  <form>

    <div class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">Adresstyp ändern</div>

    </div>

    <div class="modal-body first-modal">

      <div class="row-line-modal">
        <div class="form-group ">

          <div class="form-group ">
            <label for="addressValidFrom">Adresse gültig ab</label>

            <div class="input-group">
              <input  class="form-control" name="addressValidFrom" [ngModel]="addressValidFrom"
                (ngModelChange)="addressValidFrom = $event" ngbDatepicker #validFrom="ngbDatepicker">
              <div class="input-group-append">
                <span class="input-group-text" style="width:40px;" (click)="validFrom.toggle()">
                  <i class="fa fa-calendar" style="color:#464e5f;"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </form>


  <div class="modal-footer ">
    <span type="button" class="link-button red-font" (click)="modal.dismiss('Cancel click')">Abbrechen</span>
    <button type="button" class="btn save-btn" (click)="modal.close()">Eingabe übernehmen</button>
  </div>

</ng-template>

<ng-template #newAddress let-modal role="dialog" class="modal-window">
  <form>

    <div class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">Neue Adresse</div>

    </div>
    <div class="modal-body first-modal">
      <div class="row-line">
        <div class="form-group ">
          <label for="newAddressValidFrom">Adresse gültig ab</label>

          <div class="input-group">
            <input class="form-control" name="newAddressValidFrom" [ngModel]="newAddressValidFrom"
              (ngModelChange)="newAddressValidFrom = $event" ngbDatepicker #newAddressValidFrom1="ngbDatepicker">
            <div class="input-group-append">
              <span class="input-group-text" style="width:40px;" (click)="newAddressValidFrom1.toggle()">
                <i class="fa fa-calendar" style="font-size: 16px; color:#464e5f;"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row-line-modal">
        <div class="form-group ">

          <label for="profil-gender">Adressart</label>
          <select class="form-control" [(ngModel)]="newAddressType" name="newAddressType">
            <option value="0" [selected]="newAddressType ===0">
              {{onAddressTypeName(0)}}</option>
            <option value="1" [selected]="newAddressType ===1">
              {{onAddressTypeName(1)}}</option>
            <option value="2" [selected]="newAddressType ===2">
              {{onAddressTypeName(2)}}</option>
          </select>
        </div>
      </div>

    </div>
  </form>


  <div class="modal-footer ">
    <span type="button" class="link-button red-font" (click)="modal.dismiss('Cancel click')">Abbrechen</span>
    <button type="button" class="btn ownStyle-add" (click)="modal.close()">Eingabe speichern</button>
  </div>

</ng-template>

<ng-template #contentDelete id="content" let-modal role="dialog" class="modal-window">
  <app-deletewindow [title] ="title" [message]="message"></app-deletewindow>
  <div class="modal-footer ">
    <span type="button" class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss('Cancel click')">Abbrechen</span>
    <button type="button" class="btn btn-danger normal-btn" (click)="modal.close()">{{title}}</button>
  </div>
</ng-template>

<ng-template #addressList let-modal role="dialog" class="modal-window">
  <form>

    <div class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">Adressliste</div>

    </div>
    <div class="modal-body ">

      <app-address-history-list [countries]="dataManagementEmployeeService.countries" (isChangingAddress)="onChangingAddress($event)"
        [addressList]="dataManagementEmployeeService.employeeAdressListWithoutQueryFilter">
      </app-address-history-list>

    </div>
  </form>


  <div class="modal-footer ">

    <button type="button" class="btn ownStyle-save" (click)="modal.close()">Schliessen</button>
  </div>

</ng-template>

<ng-template #historyList let-modal role="dialog" class="modal-window">


  <div class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title">Verlauf</div>

  </div>
  <div class="modal-body">

    <app-history [historyList]="dataManagementEmployeeService.currentHistoryList"
      [filterHistory]="dataManagementEmployeeService.filterHistory" (isChanged)="onIsHistoryPageChange()"></app-history>
  </div>


  <div class="modal-footer ">
    <button type="button" class="btn ownStyle-save" (click)="modal.close()">Schliessen</button>
  </div>

</ng-template>


<form #clientForm="ngForm" class="container-card"  >
  <div class="container-header header-container">
    

    <span class="filler"></span>

    <div>

      <app-button-new (click)="openNewAddress(newAddress)" placement="top" ngbTooltip="neue Adresse erstellen"
        *ngIf="dataManagementEmployeeService.editEmployeeDeleted === false">
      </app-button-new>

      <div class="btn dropdown-toggle  ownStyle-button" role="button" data-toggle="dropdown">
        <icon-gear-grey></icon-gear-grey>
      </div>

      </div>
  </div>


  <div class="container-line"></div>


  <div class="container-bank-box" *ngIf="dataManagementEmployeeService.editEmployee">

    <div class="firstColumContainer">

    

      <div class="row-line-simple" >
        <div class="form-group firstColumn">
          <div Style="width: 200px; padding-right: 20px;">
            <label for="gender">Anrede</label>
            <select class="form-control " [ngModel]="dataManagementEmployeeService.editEmployee!.gender" id="gender"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              (ngModelChange)="dataManagementEmployeeService.editEmployee!.gender = $event" name="client.gender">
              <option value="1">Herr</option>
              <option value="0">Frau</option>
            </select>
          </div>

        </div>
          </div>


      <div class="row-line" >
        <div class="form-group firstColumn">

          <label for="title">Titel</label>
          <input type="text" class="form-control default-width" id="title" autocomplete="off"
            [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
            [(ngModel)]="dataManagementEmployeeService.editEmployee!.title" name="title" maxlength="15">
        </div>
      </div>

      <div class="row-line">
        <div class="form-group firstColumn">

          <label for="firstname">Vorname</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width" autofocus autocomplete="off"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee!.firstName" id="firstname" name="FirstName"
              maxlength="50">
            <span class="add-button" type="button" (click)="addFirstNameLine2 = true;"
              *ngIf="!addFirstNameLine2== true">+</span>
          </div>
        </div>
      </div>

      <div class="row-line">
        <div class="form-group firstColumn">

          <label for="secondName">Zweiter Vorname</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee!.secondName" id="secondName" name="SecondName"
              maxlength="50">
            <span class="del-button" type="button" (click)="addFirstNameLine2 = false;"
              *ngIf="addFirstNameLine2== true">-</span>
          </div>
        </div>

      </div>

      <div class="row-line">
        <div class="form-group firstColumn">
          <label for="profil-name">Nachname</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee!.name" name="Name" id="profil-name" required
              maxlength="50">
            <span class="add-button" type="button" (click)="addNameLine2 = true;" *ngIf="!addNameLine2== true">+</span>
          </div>
        </div>
      </div>

      <div class="row-line"
        *ngIf="addNameLine2  ">
        <div class="form-group firstColumn">
          <label for="maidenName">Ledigname</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee!.maidenName" id="maidenName" name="MaidenName"
              maxlength="50">
            <span class="del-button" type="button" (click)="addNameLine2 = false;" *ngIf="addNameLine2== true">-</span>
          </div>
        </div>
      </div>

            <div class="row-line">
        <div class="form-group firstColumn">
          <label for="street">Adresse</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width" id="street"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee!.addresses[dataManagementEmployeeService.currentAddressIndex].street"
              name="street">
            <span class="add-button" type="button" (click)="addStreetLine2 = true;"
              *ngIf="!addStreetLine2== true">+</span>

          </div>
        </div>
      </div>

      <div class="row-line" *ngIf="addStreetLine2== true">
        <div class="form-group firstColumn">
          <label for="street2">Adresse Linie 2</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width" id="street2"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee!.addresses[dataManagementEmployeeService.currentAddressIndex].street2"
              name="street2">
            <span class="add-button" type="button" (click)="addStreetLine3 = true;"
              *ngIf="!addStreetLine3== true">+</span>
            <span class="del-button" type="button" (click)="addStreetLine2 = false;"
              *ngIf="addStreetLine2== true">-</span>
          </div>
        </div>
      </div>

      <div class="row-line" *ngIf="addStreetLine3== true">
        <div class="form-group firstColumn">
          <label for="street3">Adresse Linie 3</label>
          <div class="  custom-control-inline">
            <input type="text" class="form-control default-width" id="street3"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [(ngModel)]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].street3"
              name="street3">
            <span class="del-button" type="button" (click)="addStreetLine3 = false"
              *ngIf="addStreetLine3== true">-</span>
          </div>
        </div>
      </div>

      <div class="row-line">
        <div class="form-group firstColumn">
          <label for="zip" class="zip">PLZ</label>
          <input type="text" class="form-control zip" (focusout)="onZipFocusout()" id="zip"
            [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
            [(ngModel)]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].zip"
            name="zip">


        </div>
        <div>
          <label for="city" class="place">Ort</label>
          <input type="text" class="form-control place" id="city"
            [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
            [(ngModel)]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].city"
            name="city" list="dynamicPlace">
          <datalist id="dynamicPlace">
            <option *ngFor="let item of dataManagementEmployeeService.lastContries" [ngValue]="item">{{item.city}}
            </option>
          </datalist>
        </div>
      </div>

      <div class="row-line">
        <div class=" firstColumn">
          <label for="state" class="zip" [hidden]="!showState">Kanton</label>
          <select class="form-control zip" [hidden]="!showState" id="state"
            [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
            [(ngModel)]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].state"
            name="state">
            <option *ngFor="let c of dataManagementEmployeeService.stateList" [value]="c"
              [selected]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].state === c">
              {{c}}</option>

          </select>
        </div>
        <div>
          <label for="country" class="place">Land</label>

          <select class="form-control place" id="country" [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
            [(ngModel)]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].country"
            name="country">
            <option *ngFor="let c of dataManagementEmployeeService.countries" [value]="c.abbreviation"
              [selected]="dataManagementEmployeeService.editEmployee.addresses[dataManagementEmployeeService.currentAddressIndex].country === c.abbreviation">
              {{c.name}}</option>

          </select>
        </div>
      </div>

      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
    </div>



    <div class="secondColumnContainer">

      <div *ngFor="let phoneData of  dataManagementEmployeeService.communicationPhoneList; index as ii">

        <div class="row-line ">
          <div class="form-group ">
            <label for="profil-tel">Vorwahl
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telefon</label>
            <div class="  custom-control-inline">
              <select class="form-control gap-prefix " [value]="phoneData.prefix" name="phonePrefix"
                [disabled]="dataManagementEmployeeService.editEmployeeDeleted" (change)="onChangePhonePrefix(ii,$event)">
                <option *ngFor="let c of dataManagementEmployeeService.communicationPrefixList" [value]="c.prefix"
                  [selected]="phoneData.prefix === c.prefix" data-toggle="tooltip" title="{{c.name}}">{{c.prefix}}
                </option>
              </select>

              <input type="text" class="form-control medium-width-tel" [value]="phoneData.value" name="phoneValue"
                [disabled]="dataManagementEmployeeService.editEmployeeDeleted" (change)="onChangePhoneValue(ii,$event)"
                (keyup)="onKeyupPhoneNumber(ii,$event) ">

              <select class="form-control gap" [value]="phoneData.type" name="pohneType"
                (change)="onChangePhoneType(ii,$event)" [disabled]="dataManagementEmployeeService.editEmployeeDeleted">
                <option *ngFor="let c of  dataManagementEmployeeService.communicationTypePhoneList" [value]="c.type"
                  [selected]="phoneData.type === c.type">
                  {{c.name}}
                </option>
              </select>
              <span class="add-button" type="button"
                *ngIf="(ii === dataManagementEmployeeService.communicationPhoneList.length-1 )"
                (click)="onClickAddPhone()">+</span>
              <span class="del-button" type="button" *ngIf="(ii !==0 )" (click)="onClickDelPhone(phoneData)">-</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let emailData of  dataManagementEmployeeService.communicationEmailList; index as i">

        <div class="row-line">
          <div class="form-group">
            <label >E-Mail</label>
            <div class="  custom-control-inline">


              <input type="email" class="form-control medium-width" [value]="emailData.value"
                [disabled]="dataManagementEmployeeService.editEmployeeDeleted" (change)="onChangeEmailValue(i,$event)"
                name="emailValue" (keyup)="onChangeEmailValue(i,$event)">

              <select class="form-control gap" [value]="emailData.type" name="emailType"
                [disabled]="dataManagementEmployeeService.editEmployeeDeleted" (change)="onChangeEmailType(i,$event)">
                <option *ngFor="let c of  dataManagementEmployeeService.communicationTypeEmailList " [value]="c.type"
                  [selected]="emailData.type === c.type">{{c.name}}</option>
              </select>
              <span class="add-button" type="button"
                *ngIf="(i === dataManagementEmployeeService.communicationEmailList.length-1 )"
                (click)="onClickAddEmail()">+</span>
              <span class="del-button" type="button" *ngIf="(i !==0 )" (click)="onClickDelEmail(emailData)">-</span>
            </div>

          </div>
        </div>
      </div>


      <div class="row-line">
        <div class="form-group ">
          <label for="profil-birthday">Geburtsdatum</label>

          <div class="input-group  medium-width">
            <input class="form-control " name="birthdate" id="profil-birthday"
              [disabled]="dataManagementEmployeeService.editEmployeeDeleted"
              [ngModel]="dataManagementEmployeeService.editEmployee.internalBirthdate"
              (ngModelChange)="dataManagementEmployeeService.editEmployee.internalBirthdate = $event" ngbDatepicker btn-dark #birthdate="ngbDatepicker">
            <div class="input-group-append">
              <span class="input-group-text"  style="width:40px;" (click)="birthdate.toggle()">
                <i class="fa fa-calendar" style="color:#464e5f;"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
  </p>
  <p>
  </p>
  <p>
  </p>
  <p>
  </p>

</form>
