<form #noteForm="ngForm"  >
  <div class="container-header header-container" >
    Notizen

    <span class="filler"></span>

    <div>

      <app-button-new placement="top" (click)="newAnnotation()" ngbTooltip="neue Notiz hinzufügen"  >
      </app-button-new>
      <div class="btn dropdown-toggle  ownStyle-button" role="button" data-toggle="dropdown"  >
        <icon-gear-grey></icon-gear-grey>
      </div>

      <div class="dropdown-menu dropdown-menu-right"  >

        <a class="dropdown-item "
          *ngIf="dataManagementEmployeeService.editEmployee  && dataManagementEmployeeService.currentAnnotationIndex >-1"
          (click)="onDeleteCurrentAnnotation()">
          <div class="custom-control-inline" style="height: 25px;">
            <icon-trash-icon-red></icon-trash-icon-red>
            <p style="margin-left: 10px; font-size: 13px; color: #f64e60;">
              Notiz löschen
            </p>
          </div>
        </a>
        <a class="dropdown-item disabled"
          *ngIf="dataManagementEmployeeService.editEmployee  && dataManagementEmployeeService.currentAnnotationIndex ===-1">
          <div class="custom-control-inline" style="height: 25px;">
            <icon-trash-icon-light-red></icon-trash-icon-light-red>
            <p style="margin-left: 10px; font-size: 13px; color: #FAC1C7;">
              Notiz löschen
            </p>
          </div>
        </a>

      </div>

    </div>
  </div>

  <div class="container-line"></div>

  <div class="container-main " *ngIf="dataManagementEmployeeService.editEmployee">
    <div class="row-line " *ngFor="let c of  dataManagementEmployeeService.editEmployee!.annotations; index as i">
      <div *ngIf="c.isDeleted===false">
        <div [ngClass]="{
          'container-box  ': this.dataManagementEmployeeService.currentAnnotationIndex != i,
          'container-box-focus ': this.dataManagementEmployeeService.currentAnnotationIndex === i}" (click)="onFocus(i)">

          <div class="firstColumn">

            <label>Freitextfeld</label>
          </div>
          <div class="firstColumn">
            <textarea [value]="c.note" (change)="onChange(i, $event)" (keyup)="onKeyUp(i,$event)"
             class="form-control freetext"
              name="setName(i)">

            </textarea>
          </div>

        </div>
      </div>

    </div>
  </div>
  <p></p>
  <p></p>
  <p></p>


</form>
