@import '../../../../../assets/standard-styles/navigation.scss';

.list-group {
  padding: 20px;
}

.icon {
  margin-left: 10px;
  padding-right: 10px;
}



.list-State {
  flex-flow: column;

  width: 100%;
  height: 50px;
  overflow-y: hidden;
  overflow-x: auto;
}

ul li {
  list-style-type: none;
  padding-bottom: 15px;
  font-size: 13px;
}


.max-width {
  width: 150px;
}

.dropdown-container {
  width: 200px;

}



.place-around {
  margin-top: 10px;
}

.row-line-simple {
  display: inline-flex;
}

.my-datepicker{
  height: 35px;
  width: 150px;
  max-width: 150px;
  font-size: 14px;
}
