<form>
  <div class="container-header">
    Länder verwalten
  </div>

  <div class="container-line"></div>


  <app-countries-header
    *ngIf="dataManagementSettingsService.countriesList  &&  dataManagementSettingsService.countriesList.length > 0">
  </app-countries-header>
  <div class="container-box">

    <div *ngFor="let c of dataManagementSettingsService.countriesList;index as i;">
      <app-countries-row [data]="c" *ngIf="c.isDirty!==3" (isChangingEvent)="onIsChanging($event)"
        (isDeleteEvent)="onClickDelete(i)">
      </app-countries-row>
    </div>

  </div>



  <div class="row">

    <span class="add-button" type="button" (click)="onClickAdd()">+ Länder hinzufügen
    </span>
  </div>

</form>
