@import '../../../../../assets/standard-styles/standard-controls.scss';
@import '../../../../../assets/standard-styles/colors.scss';


.first {

  margin-left: 30px;
  padding-right: -30px;
height :60px;
}

input {
  width: 250px;
  height: 32px;
 
}

label {
  width: 100px;
 
}

select {
  width: 120px;
  height: 32px;

}

.gap {
  margin-right: 30px;
}

.delete-button {
  margin-top: 5px;
  margin-left: 20px;
  color: var(--standartRedColor );
}

.send-to {

  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
  color: $standartBlueColor;
  cursor: pointer;
}
