<ng-template #creditsTypeModal let-modal role="dialog" style="padding-left: 0px;padding-right: 0px;">




  <div class="modal-footer ">
    <button type="button" class="btn save-btn" (click)="modal.close()">Schliessen</button>
  </div>

</ng-template>


<form #membershipForm="ngForm" class="container-card">
  <div class="container-header">
    Mitgliedschaft
  </div>


  <div class="container-line"></div>

  <div class="container-bank-box " *ngIf="dataManagementEmployeeService.editEmployee">

    <div class="container-bank-value">

          

    </div>


    <div class="container-bank-value secondColumn">

     
      <div class="row-line ">
        <div class="form-group medium-width">
          <label for="membership-entry-date">Eintrittsdatum</label>
          <div class="input-group medium-width">
            <input class="form-control" name="validFrom" 
              [ngModel]="dataManagementEmployeeService.editEmployee!.staff!.internalValidFrom"
              (ngModelChange)="dataManagementEmployeeService.editEmployee!.staff!.internalValidFrom = $event"
              ngbDatepicker #validFrom="ngbDatepicker">
            <div class="input-group-append">
              <div class="input-group-append">
                <span class="input-group-text" style="width:40px;" (click)="validFrom.toggle()">
                  <i class="fa fa-calendar" style="color:#464e5f;"></i>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row-line ">
        <div class="form-group medium-width">
          <label for="membership-entry-date">Austrittsdatum</label>
          <div class="input-group  medium-width">
            <input class="form-control" name="validUntil" 
              [ngModel]="dataManagementEmployeeService.editEmployee!.staff!.internalValidUntil"
              (ngModelChange)="dataManagementEmployeeService.editEmployee!.staff!.internalValidUntil  = $event"
              ngbDatepicker #validUntil="ngbDatepicker">
            <div class="input-group-append">
              <div class="input-group-append">
                <div class="input-group-append">
                  <span class="input-group-text" style="width:40px;" (click)="validUntil.toggle()">
                    <i class="fa fa-calendar" style="color:#464e5f;"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
  <p>

  </p>
  <p>

  </p>
</form>
