<form #navEmployeeForm="ngForm">

  <ul class="list-group ">

    <ng-container *ngIf="dataManagementEmployeeService.editEmployee">
      <li class="list-group-item-action "
        *ngIf="dataManagementEmployeeService &&  dataManagementEmployeeService.editEmployee.hasScopeAddress">
        <div class="form-group">

          <label>Aktive Adresse(n)</label>

          <ng-container *ngIf="!dataManagementEmployeeService.editEmployeeDeleted ">
            <div *ngFor="let c of dataManagementEmployeeService.editEmployee.addresses; index as i">
              <button class="btn  btn-sm max-width" [ngClass]="{'btn-primary' : i === dataManagementEmployeeService.currentAddressIndex,
      'btn-outline-primary' : i !== dataManagementEmployeeService.currentAddressIndex}" (click)="onClickAdressArray(i)"
                [value]="c.id" *ngIf="(c.isDeleted===false && c.isScoped)" placement="left"
                ngbTooltip="Gültig ab: {{c.validFrom | date: 'dd.MM.yyyy'}}"></button>
            </div>
          </ng-container>


        </div>
      </li>

      <li class="list-group-item-action "
        *ngIf="dataManagementEmployeeService && dataManagementEmployeeService.editEmployee.hasFutureAddress">
        <div class="form-group">

          <label>Zuküftige Adresse(n)</label>

          <ng-container *ngIf="!dataManagementEmployeeService.editEmployeeDeleted">
            <div *ngFor="let c of dataManagementEmployeeService.editEmployee.addresses; index as i">
              <button class="btn  btn-sm btn-outline-info max-width"
                [ngClass]="{'btn-info' : i === dataManagementEmployeeService.currentAddressIndex}"
                (click)="onClickAdressArray(i)" [value]="c.id" *ngIf="(c.isDeleted ===false && c.isFuture)"
                placement="left"
                ngbTooltip="Gültig ab: {{c.validFrom | date: 'dd.MM.yyyy'}}"></button>
            </div>
          </ng-container>


        </div>
      </li>


      <li class="list-group-item-action "
        *ngIf="dataManagementEmployeeService  &&  dataManagementEmployeeService.editEmployee.hasPastAddress">
        <div class="form-group">

          <label>Vergangene Adresse(n)</label>

          <ng-container *ngIf="!dataManagementEmployeeService.editEmployeeDeleted ">
            <div *ngFor="let c of dataManagementEmployeeService.editEmployee.addresses; index as i">
              <button class="btn  btn-sm btn-outline-warning max-width"
                [ngClass]="{'btn-warning' : i === dataManagementEmployeeService.currentAddressIndex}"
                (click)="onClickAdressArray(i)" [value]="c.id"
                *ngIf="(c.isDeleted ===false && (c.isScoped === false && c.isFuture === false ))" placement="left"
                ngbTooltip="Gültig ab: {{c.validFrom | date: 'dd.MM.yyyy'}}"></button>
            </div>
          </ng-container>

        </div>
      </li>

      <li class="list-group-item-action "
        *ngIf="dataManagementEmployeeService  &&  dataManagementEmployeeService.findEmployee.length >0">
        <div class="form-group">


          <label>Gefunden ({{dataManagementEmployeeService.findEmployee.length}})</label>
          <ul class="findUl">
            <li type="button"  class="onwListButton" *ngFor="let c of dataManagementEmployeeService.sortedFindEmployee; index as i" (click)="onClickFindEmployee(c)">
              {{c.firstName}} {{c.name}}
            </li>
          </ul>
        </div>
        <div class="form-group onwPaginationContainer"
          *ngIf="dataManagementEmployeeService.findEmployeeCount> dataManagementEmployeeService.findEmployeeMaxVisiblePage">
          <div type="button" class="onwPaginationblock onwPaginationblockLeft" (click) ="onClickPaginationButton(-1)"><i class="fas fa-angle-left"></i></div>
          <div class="onwPaginationblock">{{dataManagementEmployeeService.findEmployeePage}} / {{dataManagementEmployeeService.findEmployeeMaxPages}}</div>
          <div type="button"  class="onwPaginationblock onwPaginationblockRight" (click) ="onClickPaginationButton(1)"><i class="fas fa-angle-right"></i></div>
        </div>
      </li>
      
      <li class="list-group-item-action " *ngIf="isRestPossible()">
        <button class="btn  btn-sm btn-info max-width" (click)="onClickReset()"
        >Zurück zur neuen Adr.</button>
      </li>
    </ng-container>
  </ul>


</form>
