@import '../../../assets/standard-styles/standard-grid.scss';
@import '../../../assets/standard-styles/standard-card-interior.scss';
@import '../../../assets/standard-styles/standard-controls.scss';
@import '../../../assets/standard-styles/pagination.scss';
@import '../../../assets/standard-styles/colors.scss';
@import '../../../assets/standard-styles/standard-modal.scss';

.container-search {
  margin-top: 43px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  font-weight: 500;
  color:var(--colorLabel);

}

.container-search-button {
  font-weight: 600;
  font-size: 13px;
  background-color: $standartBlueColor;
  color: $standartWhiteColor;
}




.entry-info {
  padding-right: 20px;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  color:var(--colorLabel);
}

.checkbox {
  size: 20px;
}


.red-font {
  font-size: 13px;
  margin-top: 10px;
  padding-right: 30px;
  color: var(--standartRedColor );
}



.save-btn {

  font-size: 13px;
  background-color: $standartBlueColor;
  color: $standartWhiteColor;
  margin-right: 20px;
}



input[type=checkbox]:indeterminate {
  outline: 1px solid grey;
  // box-shadow: 0 0 1px 1px blue;
}

::placeholder {
  color: var(--colorPlaceholder);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--colorPlaceholder);
}

::-ms-input-placeholder {
  color: var(--colorPlaceholder);
}

.row-line {
  display: inline-flex;

  width: 100%;
}

.total {
  margin-top: 20px;
  padding-right: 30px;
}

.total-label {
  margin-top: 8px;
  padding-right: 10px;
}

.total-text {
  width: 150px;
  text-align: right;
}



.ownStyle-button {

  width: 34px;
  height: 34px;
  background-color: #e5eaee;
  font-weight: 600;
  font-size: 14px;
  color: $standartWhiteColor;
  margin-right: 20px;
  padding: 3px;
}
.currentWidth{
  width: 230px;
}