@import '../../../../assets/standard-styles/colors.scss';
@import '../../../../assets/standard-styles/slider.scss';
@import '../../../../assets/standard-styles/standard-controls.scss';
@import '../../../../assets/standard-styles/navigation.scss';

$tab_height: 35px;

.schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  height: 100%;
  padding: 0px;

}

.box {
  width: 100%;
  height: 100%;

}

.resizer-vertical {
  width: 5px;
  cursor: e-resize;
  height: 100%;
  background-color: $splitBackgroundColor;
}

.resizer-horizontale {
  width: 100%;
  cursor: n-resize;
  height: 5px;
  background-color: $splitBackgroundColor;
}

.container-top {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  margin: 0;
  border: 1px solid var(--cardBorderColor);

}


.custom-slider {
  width: 180px;
  height: 50px !important;
  }

.absence-search{
  width: 400px;
  padding: 5px;
  background-color: var(--backgroundColorWindow);
}

.absence-filter{
  width: 65px;
  padding: 5px;
  font-size: 12px;
  background-color: var(--backgroundColorWindow);
}

.absence-reason{
  width: calc( 100% - 660px);
  margin-right: 5px;
}

.calendar-toolbar {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--backgroundColorWindow);
}

.container-left {
  height: 100%;
  width: 100%;

}

.ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -10px;
  z-index: 3;
  border-radius: 10px;
}

.container-bottom {
  height: 40%;
  width: 100%;
  display: flex;

  overflow: hidden;
  margin: 0;

}


.container-bottom-1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  margin: 0;
  background-color: $objectSurfaceBackgroundColor;
}

.container-search {
  margin-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 500;
  color:var(--colorLabel);
  height: 22px;

}

.container-search-button {
  font-weight: 600;
  font-size: 12px;
  background-color: $standartBlueColor;
  color: $standartWhiteColor;
 

}

.icon {
  cursor: pointer;
  
  width: 50px;
  height: 50px;
}

.nav {
  font-size: 13px;
  font-weight: 500;

}

.nav-tabs{
  width: 100%;
  height:$tab_height;
}
.nav-item, .nav-link{
  height:$tab_height;
}
.nav-link:hover{
  color:var(--colorHeadline);
}

.content{
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColorWindow);
}