@import '../../../../assets/standard-styles/colors.scss';
@import '../../../../assets/standard-styles/slider.scss';

.schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  height: 100%;
  padding: 0px;

}

.box {
  width: 100%;
  height: 100%;

}

.resizer-vertical {
  width: 5px;
  cursor: e-resize;
  height: 100%;
  background-color: $splitBackgroundColor;
}

.resizer-horizontale {
  width: 100%;
  cursor: n-resize;
  height: 5px;
  background-color: $splitBackgroundColor;
}

.container-top {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  margin: 0;


}


  .custom-slider {
    width: 400px;
    height: 50px !important;
    font-size: 10px;

  }



.calendar-toolbar {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: yellow;
}

.container-left {
  height: 100%;
  width: 100%;

}

.ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -10px;
  background-color: red;
  z-index: 3;
  border-radius: 10px;
}

.container-bottom {
  height: 40%;
  width: 100%;
  display: flex;

  overflow: hidden;
  margin: 0;

}


.container-bottom-1 {
  height: 100%;
  width: 100%;
  display: flex;

  overflow: hidden;
  margin: 0;
  background-color: rgb(214, 95, 4);
}
