<div class="schedule-container" #containerElement>
  <div class="calendar-toolbar">
<div class="custom-slider">
  <ngx-slider [(value)]="value" (valueChange)="onChange()" [options]="options"></ngx-slider>

</div>
  </div>
  <div class="container-top" #topElement>

    <div  #leftElement>
      
      <app-absence-row-header [calendarData]="calendarData"  [scrollCalendar]="scrollCalendar"  class=" container-left"></app-absence-row-header>
    </div>

    <div appResizerVerticale class="resizer-vertical" [leftElement]="leftElement"  [parentElement]="containerElement"
      [rightElement]="rightElement" [minLeft]="60" [minRight]="60" [firstLeft]="195" >
    </div>
    <div  #rightElement>
      <app-absence-body-container  [calendarData]="calendarData"  [scrollCalendar]="scrollCalendar"   ></app-absence-body-container>
    </div>


  </div>
  <div appResizerHorizontale #rh class="resizer-horizontale"  [topElement]="topElement" [parentElement]="containerElement"
    [bottomElement]="bottomElement" [minTop]="80" [minBottom]="40" [firstTop]="622"></div>

  <div  #bottomElement>
    <div class="container-bottom-1">

    </div>
  </div>
</div>
