@import '../../../../assets/standard-styles/colors.scss';


.schedule-container {
  display: block;
  width: 100%;
  padding: 0px;
  height: 100%;
  padding: 0px;

}

.box {
  width: 100%;
  height: 100%;

}

.resizer-vertical {
  width: 5px;
  cursor: e-resize;
  height: 100%;
  background-color: $splitBackgroundColor;
}

.resizer-horizontale{
  width: 100%;
  cursor: n-resize;
  height: 5px;
  background-color: $splitBackgroundColor;
}

.container-top {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row ;
  overflow: hidden;
  margin: 0;


}



.container-left {
  height: 100%;
  width: 100%;
  
}


.container-bottom {
  height: 40%;
  width: 100%;
  display: flex;

  overflow: hidden;
  margin: 0;

}


.container-bottom-1 {
  height: 100%;
  width: 100%;
  display: flex;

  overflow: hidden;
  margin: 0;
  background-color: rgb(214, 95, 4);
}

