<div class="main-container">
  <div class="main-cell">
    <div class="icon_group"  >
      <app-icon-clients  (click)="onClickAddresses()" placement="right" [openDelay] ="1000" autoClose="true" ngbTooltip="Alle Mitarbeiter">
      </app-icon-clients>
    </div>

    <!-- <div class="icon " >
      <app-icon-workshop (click)="onClickWorkshops()" placement="right" ngbTooltip="Alle Kurse" openDelay ="1000" autoClose="true" ></app-icon-workshop>
    </div>

    <div class="icon">
      <app-icon-files (click)="onClickDocuments()" placement="right" ngbTooltip="Alle Dokumente"  openDelay ="1000" autoClose="true" ></app-icon-files>
    </div>

    <div class="icon">
      <app-icon-credit-card (click)="onClickInvoices()" placement="right"  ngbTooltip="Alle Rechnungen" openDelay ="1000" autoClose="true" >
      </app-icon-credit-card>
    </div>

    <div class="icon " (click)="onClickReminder()">
      <icon-reminder-icon placement="right" ngbTooltip="Alle Mahnungen"  openDelay ="1000" autoClose="true" ></icon-reminder-icon>
    </div>

    <div class="icon " (click)="onClickExport()" *ngIf="authorised">
      <app-icon-export placement="right" ngbTooltip="Alle Abacus Exporte"  openDelay ="1000" autoClose="true" ></app-icon-export>
    </div> -->
  </div>


  <div class="main-bottomcell">
    

    <div class="icon icon_user " *ngIf="!dataLoadFileService.profileImage">
      <app-icon-user (click)="onClickProfile()"></app-icon-user>

    </div>

    <div *ngIf="dataLoadFileService.profileImage" class="imgIconContainer" (click)="onClickProfile()">
      <img [src]="dataLoadFileService.profileImage" alt="" class="imgIcon" *ngIf="dataLoadFileService.profileImage">
    </div>

    <div class="icon " *ngIf="isAdmin">
      <app-icon-setting (click)="onClickSettings()"></app-icon-setting>
    </div>


  </div>
