
  <table class="table table-borderless container-table-borderless" >
    <thead>
      <tr>

        <th class="table-header " (click)="onClickHeader('validFrom')" style="width: 150px; max-width: 150px;min-width: 150px; ">
          <div class="table-header-cell custom-control-inline">
            <p class="gap noselect">GÜLTIG AB</p>
            <p class="table-header-cell-arrow noselect">{{arrowValidFrom}}</p>
          </div>

        </th>
        <th class="table-header" (click)="onClickHeader('currentUserCreated')" >
          <div class="table-header-cell custom-control-inline">
            <p class="gap noselect">VON</p>
            <p class="table-header-cell-arrow noselect">{{arrowCurrentUserCreated}}</p>
          </div>

        </th>
        <th class="table-header" (click)="onClickHeader('data')" >
          <div class="table-header-cell custom-control-inline">
            <p class="gap noselect">DATA</p>
            <p class="table-header-cell-arrow noselect">{{arrowData}}</p>
          </div>

        </th>
        <th class="table-header" (click)="onClickHeader('oldData')" style="width: 150px; max-width: 150px;min-width: 150px;" >
          <div class="table-header-cell custom-control-inline">
            <p class="gap noselect">ALTER WERT</p>
            <p class="table-header-cell-arrow noselect">{{arrowOldData}}</p>
          </div>

        </th>

        <th class="table-header" (click)="onClickHeader('newData')" >
          <div class="table-header-cell custom-control-inline">
            <p class="gap noselect">NEUER WERT</p>
            <p class="table-header-cell-arrow noselect">{{arrowNewData}}</p>
          </div>

        </th>


      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let data of historyList!; index as i">

        <th class="table-cell">{{data.validFrom | date: 'dd.MM.yyyy'}}</th>
        <td class="table-cell">{{data.currentUserCreated}}</td>
        <td class="table-cell">{{data.data}}</td>
        <td class="table-cell">{{data.oldData}}</td>
        <td class="table-cell">{{ data.newData}}</td>

      </tr>

    </tbody>
  </table>

  <div class="pagination justify-content-end" >
    <label class="entry-info">Anzahl Einträge: {{filterHistory!.maxItems!}}</label>
    <ngb-pagination [collectionSize]="filterHistory!.maxItems! + 1" (pageChange)="onPageChange()"
      [(page)]="filterHistory!.requiredPage!" [maxSize]="filterHistory!.numberOfItemsPerPage!" [pageSize]="5"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

  </div>

