@import '../../assets/standard-styles/colors.scss';
@import '../../assets/standard-styles/standard-controls.scss';

.list-group {
  padding: 20px;
}

.icon {
  margin-left: 10px;
  padding-right: 10px;
}

label {
  padding-right: 10px;

}

.dropdown-menu {
  background-color: var(--backgroundColorCard) !important;
  color: var(--standartTextColor);
  border: 1px solid var(--cardBorderColor);
}
.dropdown-item {
  background-color: var(--backgroundColorCard) !important;
  color: var(--standartTextColor);
}
.dropdown-item:hover{
  background-color: var(--gridBackgroundColorRowHover) !important;
  color: var(--standartTextColor);
}

.list-State {
  flex-flow: column;

  width: 100%;
  height: 50px;
  overflow-y: hidden;
  overflow-x: auto;
}

ul li {
  list-style-type: none;
  padding-bottom: 15px;
  font-size: 13px;
  color: var(--colorLabel);
}

ul li:hover {
  background-color: var(--backgroundColorHover);
  color: var(--colorHeadline);
}

.max-width {
  width: 150px;
}

.dropdown-container {
  width: 200px;

}

.checkbox-container {
  display: flex;
  flex-flow: column;
  width: 140px;
  height: 200px;
  margin-left: 35px;
  overflow-x: auto;
  font-size: 13px;
  background-color: var(--backgroundColorCard);
}

.checkbox-container-default {
  display: flex;
  flex-flow: column;
  width: 140px;
  margin-left: 25px;
  font-size: 13px;
  overflow-x: auto;
  background-color: var(--backgroundColorCard);
}

.checkbox-container-default2 {
  display: flex;
  flex-flow: column;
  width: 200px;
  max-height: 200px;
  height: auto;
  margin-left: 25px;
  overflow-x: hidden;
  font-size: 13px;
  background-color: var(--backgroundColorCard);
}

.checkbox-container-default3 {
  display: flex;
  flex-flow: column;
  width: 180px;
  max-height: 200px;
  height: auto;
  margin-left: 25px;
  font-size: 13px;
  background-color: var(--backgroundColorCard);
}

.checkbox-container-default4 {
  display: flex;
  flex-flow: column;
  width: 140px;
  max-height: 200px;
  height: auto;
  margin-left: 25px;
  overflow-x: auto;
  font-size: 13px;
  background-color: var(--backgroundColorCard);
}

.checkbox-container-default5 {
  display: flex;
  flex-flow: column;
  width: 200px;
  max-height: 200px;
  height: auto;
  margin-left: 25px;
  overflow-x: auto;
  font-size: 13px;
  background-color: var(--backgroundColorCard);
}

.reset-button {
  font-size: 13px;
  color: var(--gridcolorText);
}

button {
  font-size: 13px;

}

.place-around {
  margin-top: 10px;
}
